<%- include("header") -%>

<div class="box"  id="heading">
    <h1 style="color :burlywood"> This is the best todo list website. Thankyou ! </h1> 
    <h2 style="color :mediumspringgreen"> You can contact me at my email: Nitishnitish1111@gmail.com, or call me on :123456789. </h2>
</div>


<%- include("footer") -%>